* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(50, 50, 50);
    box-sizing: border-box;
    margin: 0;
}

#footer {
    text-align: center;
    padding: 2px;
    width: 100%;
}

#header {
    background-color: rgba(255, 255, 255, 0.763);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
    width: 100%;
    margin-bottom: 0.4%;
}

#side_bar_menu {
    width: 20%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.763);
    align-items: center;
    flex-direction: column;
    /* margin-left: 2px; */
}

#order_table {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.913);
}

#orders_to_accept, #done_orders {
    display:-ms-inline-flexbox;
    text-align: left;
    font-size: 14px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.743);
}

.button {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.913);
    padding: 4%;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    border: none;
    text-align: left;
}

.button:hover {
    background-color: rgba(216, 216, 216, 0.889);
    /* Kolor po najechaniu kursorem */
}

.orderId {

    width: 20%;
    text-align: left;
    /* background-color: rgba(235, 158, 158, 0.7); */
}

.service {
    width: 40%;
    text-align: left;
    /* background-color: rgba(202, 235, 158, 0.7); */
}

.bikeM {
    width: 20%;
    text-align: left;
    /* background-color: rgba(235, 158, 158, 0.7); */
}

.clientId {
    width: 20%;
    text-align: left;
    /* background-color: rgba(202, 235, 158, 0.7); */
}

.btn {
    width: 5%;
    text-align: left;
    /* background-color: rgba(158, 193, 235, 0.7); */
}

.edit-btn,
.done-btn {
    align-items: center;
    justify-content: center;
    border-color: black;
    border: 3px;
    width: 100%;
    font-size: 14px;
    padding: 2%;
    border-radius: 5px;
    margin: 1%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.edit-btn {
    background-color: #67b66df8;
}

.done-btn {
    background-color: #e3403df8;
}