* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(50, 50, 50);
    box-sizing: border-box;
    margin: 0;
}

#footer {
    text-align: center;
    padding: 2px;
    width: 100%;
}

#header {
    box-shadow: 4px 5px 7px rgba(133, 132, 132, 0.626);
    width: 100%;
    margin-bottom: 0.4%;
    background-color: rgba(249, 240, 215, 0.853);
    position: fixed;
}

#side_bar_menu {
    position: fixed;
    padding: 0.3%;
    height: 100%;
    width: 20%;
    margin-top: 60px;
    border-radius: 5px;
    background-color: rgb(249, 226, 226);
    align-items: center;
    flex-direction: column;
    list-style-type: none;
    flex-shrink: 0;
}

.bottom_article {
    display: flex;
    max-height: 50%;
    margin: 2px 4px;
    align-content: center;
    border: 1px solid;
    border-radius: 1%;
    overflow-y: hidden;
    overflow-y: scroll;
}

.article {
    display: flex;
    max-width: 49%;
    max-height: 50%;
    margin: 2px 4px;
    align-content: center;
    border: 1px solid;
    border-radius: 1%;
    overflow-y: hidden;
    overflow-y: scroll;
}

.content {
    /* display: inline-block; */
    position: fixed;
    padding: 0.3%;
    padding-bottom: 5px;
    height: calc(100vh - 60px);
    width: 80%;
    /* overflow-y: hidden;
    overflow-y: scroll; */
    margin-top: 60px;
    margin-left: 20%;
    border-radius: 5px;
    background-color: rgb(242, 247, 249);
}

#footer {
    margin-top: calc(100vh - 13px);
    display: block;
    position: relative;
    font-size: 10px;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

#header {
    /* margin-left: 20%; */
    text-align: left;
    padding: 2px;
    width: 100%;
    flex-shrink: 0;
}

.button {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.913);
    padding: 5%;
    margin-bottom: 2px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    border: none;
    text-align: left;
}

.button:hover {
    background-color: rgba(216, 216, 216, 0.889);
    /* Kolor po najechaniu kursorem */
}

.orderId {

    width: 20%;
    text-align: left;
    /* background-color: rgba(235, 158, 158, 0.7); */
}

.service {
    width: 40%;
    text-align: left;
    /* background-color: rgba(202, 235, 158, 0.7); */
}

.bikeM {
    width: 20%;
    text-align: left;
    /* background-color: rgba(235, 158, 158, 0.7); */
}

.clientId {
    width: 20%;
    text-align: left;
    /* background-color: rgba(202, 235, 158, 0.7); */
}

.btn {
    width: 5%;
    text-align: left;
    /* background-color: rgba(158, 193, 235, 0.7); */
}

.edit-btn,
.done-btn {
    align-items: center;
    justify-content: center;
    border-color: black;
    border: 3px;
    width: 100%;
    font-size: 14px;
    padding: 2%;
    border-radius: 5px;
    margin: 1%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.edit-btn {
    background-color: #67b66df8;
}

.done-btn {
    background-color: #e3403df8;
}