* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(50, 50, 50);
    box-sizing: border-box;
    margin: 0;
}

#footer {
    text-align: center;
    padding: 2px;
    width: 100%;
}

#header {
    background-color: rgba(255, 255, 255, 0.763);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.16);
    width: 100%;
    margin-bottom: 0.4%;
}

#side_bar_menu {
    /* position: fixed; */
    top: 0;
    width: 20%;
    /* height: 100%; */
    /* display: flex; */
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.763);
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    list-style-type: none;
    position: relative;
    padding-bottom: 8px;
}

#order_table {
    /* position: -webkit-sticky; */
    display: inline-block;
    overflow-y: auto;
    height: 10%;
    width: 80%;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.913);
}



#footer {
    width: 100%;
}

#header {
    /* margin-left: 20%; */
    text-align: left;
    padding: 2px;
    width: 100%;
    flex-shrink: 0;
}

.button {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.913);
    padding: 4%;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    border: none;
    text-align: left;
}

.button:hover {
    background-color: rgba(216, 216, 216, 0.889);
    /* Kolor po najechaniu kursorem */
}

.orderId {

    width: 20%;
    text-align: left;
    /* background-color: rgba(235, 158, 158, 0.7); */
}

.service {
    width: 40%;
    text-align: left;
    /* background-color: rgba(202, 235, 158, 0.7); */
}

.bikeM {
    width: 20%;
    text-align: left;
    /* background-color: rgba(235, 158, 158, 0.7); */
}

.clientId {
    width: 20%;
    text-align: left;
    /* background-color: rgba(202, 235, 158, 0.7); */
}

.btn {
    width: 5%;
    text-align: left;
    /* background-color: rgba(158, 193, 235, 0.7); */
}

.edit-btn,
.done-btn {
    align-items: center;
    justify-content: center;
    border-color: black;
    border: 3px;
    width: 100%;
    font-size: 14px;
    padding: 2%;
    border-radius: 5px;
    margin: 1%;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.edit-btn {
    background-color: #67b66df8;
}

.done-btn {
    background-color: #e3403df8;
}