body {
    font-family: 'Arial', sans-serif;
    background-color: #eef2f3;
    color: #333;
    margin: 0;
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; /* Pełna szerokość */
    padding: 5px;
    background-color: #334e68;
    color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Pełna szerokość */
    padding: 5px;
    background-color: #3d5d7b;
    color: rgb(89, 162, 170);
    border-radius: 10px;
    box-sizing: content-box;
    position: relative;
    bottom: 10px;
}

.footer p {
    margin: 0;
}

.login-basic-form{
    display:contents;
    color: #d6d6d6;
}

.header .login-form input {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.header .login-form button {
    background-color: #3aaf85;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s;
}

.header .login-form button:hover {
    background-color: #36a071;
}

h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #334e68;
    font-size: 22px;
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    flex: 1;
}

form::-webkit-scrollbar {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    flex-grow: 1;
}

.services-group, .details-group, .client-group, .mechanic-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

fieldset {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    flex: 1;
}

legend {
    font-size: 16px;
    color: #334e68;
}

.centered-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #3aaf85;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #36a071;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    fieldset {
        margin-bottom: 20px;
    }