<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serwis Rowerowy</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="header">
    <div class="login-form">
        <input type="text" placeholder="Login" id="login" name="login">
        <input type="password" placeholder="Password" id="password" name="password">
        <button type="button">Zaloguj się</button>
    </div>
</div>
<h2>Dodaj rower do serwisu:</h2>

<form th:action="@{/services/submit}" method="POST" onsubmit="handleFormSubmit(event)">
    <div class="form-group">
        <label for="services">Usługa</label>
        <select id="services" name="serviceType" onchange="handleOtherOption(this)">
            <option th:value="'smallService'">Mały przegląd</option>
            <option th:value="'fullService'">Pełny przegląd</option>
            <option th:value="'repair'">Naprawa</option>
            <!--            <option th:value="'other'">Inne</option>-->
        </select>
        <!--        <input type="text" id="otherServiceInput" name="serviceType" placeholder="Wpisz swoją usługę">-->
    </div>
    <div class="write-group">
        <fieldset>
            <legend>Szczegóły roweru</legend>
            <label>Marka:<br/>
                <input type="text" name="brand"/></label><br/>
            <label>Rodzaj roweru<br/>
                <input type="text" name="modelType"/></label><br/>
            <label>Numer Seryjny<br/>
                <input type="text" name="serialNumber"/></label>
        </fieldset>
    </div>
    <div class="client-group">
        <fieldset>
        <legend>Dane Klienta</legend>
        <label>Imię</br>
            <input type="text" name="first_name"/></label><br/>
        <label>Nazwisko</br>
            <input type="text" name="last_name"/></label><br/>
        <label>Numer telefonu</br>
            <input type="text" name="phoneNumber"/></label></br>
        <label>e-mail</br>
            <input type="text" name="email"/></label></br>
        </fieldset>
    </div>
    <div class="form-group">
        <button type="submit">Dodaj Usługę</button>
    </div>
</form>
<!--funkcja umozliwiajaca wpisywanie w liscie wyboru a nie w oddzielnym oknie-->
<!--<script>-->
<!--    function handleOtherOption(select) {-->
<!--        var otherServiceInput = document.getElementById('otherServiceInput');-->

<!--        if (select.value === 'other') {-->
<!--            otherServiceInput.style.display = 'block';-->
<!--            otherServiceInput.focus();-->

<!--            // Ukryj pole select-->
<!--            select.style.display = 'none';-->
<!--        } else {-->
<!--            otherServiceInput.style.display = 'none';-->
<!--            select.style.display = 'block';-->
<!--        }-->
<!--    }-->

<!--    function handleFormSubmit(event) {-->
<!--        var select = document.getElementById('services');-->
<!--        var otherServiceInput = document.getElementById('otherServiceInput');-->

<!--        if (select.value === 'other') {-->
<!--            // Kopiujemy wartość pola tekstowego do ukrytego pola select, aby wartość została przesłana-->
<!--            select.innerHTML = '<option selected value="' + otherServiceInput.value + '">' + otherServiceInput.value + '</option>';-->
<!--        }-->
<!--    }-->
<!--</script>-->
</body>
</html>
