<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serwis Rowerowy</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<form class="login-basic-form" th:action="@{/login}" method="post">
    <div class="header">
        <div class="login-form">
            <input type="text" placeholder="Login" id="login" name="login">
            <input type="password" placeholder="Password" id="password" name="password">
            <button type="submit" name="login">Zaloguj się</button>
        </div>
    </div>
</form>
<h2>Dodaj rower do serwisu:</h2>
<form th:action="@{/services/submit}" method="POST" onsubmit="handleFormSubmit(event)">
    <div class="grid-container">
        <div class="services-group">
            <fieldset>
                <legend>Usługi</legend>
                <label><input type="checkbox" name="serviceType" value="smallService"> Mały przegląd</label><br/>
                <label><input type="checkbox" name="serviceType" value="fullService"> Pełny przegląd</label><br/>
                <label>
                    <input type="checkbox" name="serviceType" value="repair" id="repairCheckbox"
                           onchange="toggleRepairDetails(this)"> Naprawa
                </label><br/>
                <div id="repairDetails" style="display: none;">
                    <label>Szczegóły naprawy:<br/>
                        <textarea name="repairDetails" rows="3"></textarea>
                    </label><br/>
                    <label>Cena:<br/>
                        <input type="number" name="repairPrice"/>
                    </label>
                </div>
            </fieldset>
        </div>
        <div class="details-group">
            <fieldset>
                <legend>Szczegóły roweru</legend>
                <label>Marka:<br/>
                    <input type="text" name="brand"/></label><br/>
                <label>Rodzaj roweru:<br/>
                    <input type="text" name="modelType"/></label><br/>
                <label>Numer Seryjny:<br/>
                    <input type="text" name="serialNumber"/></label>
            </fieldset>
        </div>
    </div>
    <div class="grid-container">
        <div class="client-group">
            <fieldset>
                <legend>Dane Klienta:</legend>
                <label>Imię<br/>
                    <input type="text" name="first_name"/></label><br/>
                <label>Nazwisko<br/>
                    <input type="text" name="last_name"/></label><br/>
                <label>Numer telefonu<br/>
                    <input type="text" name="phoneNumber"/></label><br/>
                <label>e-mail<br/>
                    <input type="text" name="email"/></label><br/>
            </fieldset>
        </div>
        <div class="mechanic-group">
            <fieldset>
                <legend>Wybierz mechanika:</legend>
                <div th:each="mechanic : ${mechanics}">
                    <label><input type="checkbox" name="mechanics" th:value="${mechanic.mechanicId}"
                                  th:text="${mechanic.first_name} + ' ' + ${mechanic.last_name}"/>
                    </label><br/>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="form-group centered-button">
        <button type="submit" name="services">Dodaj Usługę</button>
    </div>
</form>
<div class="footer">
    <p>Autor: .... | @bike service app@</p>
</div>

<script>
    function toggleRepairDetails(checkbox) {
        var repairDetails = document.getElementById('repairDetails');
        if (checkbox.checked) {
            repairDetails.style.display = 'block';
        } else {
            repairDetails.style.display = 'none';
        }
    }
</script>
</body>
</html>
