<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="panel for menager" />
    <link rel="stylesheet" href="../static/css/960_16_col.css" />
    <link rel="stylesheet" href="../static/css/menagerStyle.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
    <title>Menager panel</title>
</head>

<body>
    <div id="main">
        <div id="header-bar" class="grid_12">
            <h3>
                
            </h3>
        </div>

        <div id="calendar" class="grid_6">

        </div>

        <div class="navigation-bar">
            <div class="logo-type">

            </div>
            <aside id="menu" class="grid_6">
                <button>
                    
                </button>
                <button>

                </button>
                <button>

                </button>
                <button>

                </button>
                <button>

                </button>
            </aside>
        </div>
    </div>
</body>

</html>