<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="panel for menager" />
    <link rel="stylesheet" href="../static/css/960_16_col.css" />
    <link rel="stylesheet" href="../static/css/menagerStyle.css" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>Menager panel</title>
</head>

<body>
    <div id="main">
        <div id="header-bar" class="grid_12">
            <h4
                style="font-family: 'Courier New', Courier, monospace; font-weight: 500; margin-top: 5px; margin-left: 5px;">
                Welcome: User name...
            </h4>
            <div id="header-menu">
                <data style="font-family: 'Courier New', Courier, 
                monospace; font-weight: 500; margin-right: 15px;">10.02.2023</data>
                <button class="header-button">Language</button>
                <button class="header-button">Powiadomienia</button>
                <button class="header-button">Profile</button>
            </div>
        </div>

        <div id="calendar" class="grid_6">

        </div>

        <div class="navigation-bar">
            <div class="logo-type">

            </div>
            <aside id="menu" class="grid_6">
                <button class="menu-button">

                </button>
                <button onclick="dropdownFunction()" class="menu-button">Service</button>
                <div class="dropdown-button">
                    <a class="drop-button">Add</a>
                    <a class="drop-button">New</a>
                    <a class="drop-button">Done</a>
                    <a class="drop-button">Rejected</a>
                </div>
                <button class="menu-button">

                </button>
                <button class="menu-button">

                </button>
                <button class="menu-button">

                </button>
            </aside>
        </div>
    </div>
    </div>
    <script src="../templates/script.js"></script>
</body>

</html>