<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="panel for mechanics">
    <link rel="stylesheet" href="../static/css/960_16_col.css">
    <link rel="stylesheet" href="../static/css/newMechanicStyle.css">
    <title>Mechanic panel</title>
</head>

<body>
    <div class="container_16 clearfix">
        <div id="header" class="grid_16">
            <p id="data" style="text-align:right; color: rgb(78, 104, 96); font-family: 'Trebuchet MS',
                'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            </p>
            <h2>Welcome: <span th:text="${username}"></span></h2>
        </div>
        <aside id="side_bar_menu" class="grid_4">
            <button class="button" onclick="showContent('news')">News</button>
            <button class="button" onclick="showContent('order_table')">My services</button>
            <button class="button" onclick="showContent('add_service')">Add service</button>
            <button class="button" onclick="showContent('new_service')">New services</button>
            <button class="button" onclick="showContent('done_service')">Done services</button>
            <button class="button" onclick="showContent('calender')">Calender</button>
            <button class="button" onclick="showContent('group')">Group</button>
        </aside>
    </div>
    <div id="order_table" class="content">
        <p>Number of orders: <span th:text="${#lists.size(orderList)}"></span></p>
        <table>
            <thead>
                <tr>
                    <th class="orderId">Order ID:</th>
                    <th class="service">Service:</th>
                    <th class="bikeM">Bike model:</th>
                    <th class="clientId">Client ID:</th>
                    <th class="btn"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orderList}">
                    <td th:text="${order.orderId}"></td>
                    <td th:text="${order.service}"></td>
                    <td th:text="${order.bikeModel}"></td>
                    <td th:text="${order.client}"></td>
                    <td>
                        <form method="get" th:action="@{/mechanic/edit/{id}(id=${order.orderId})}">
                            <button class="edit-btn" type="submit">edit</button>
                        </form>
                        <form method="post" th:action="@{/mechanic/done/{id}(id=${order.orderId})}">
                            <button class="done-btn" type="submit">done</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="news" class="content">
        <div class="article grid_5">
            <p>
                <script
                    src="//rss.bloople.net/?url=https%3A%2F%2Fportal.bikeworld.pl%2Frss%2Farchiwum%2F32%2Fnowosci_sprzetowe&detail=&limit=5&showtitle=false&type=js">
                    </script>
            </p>
        </div>
        <div class="article grid_5">
            <p>
                <script
                    src="//rss.bloople.net/?url=https%3A%2F%2Fportal.bikeworld.pl%2Frss%2Farchiwum%2F55%2Fwydarzenia_i_biznes&detail=&limit=5&showtitle=false&type=js"></script>
            </p>
        </div>
        <div class="bottom_article grid_12">
            <p>
                <script
                    src="//rss.bloople.net/?url=https%3A%2F%2Ffeeds.feedburner.com%2FBikeRumor&detail=100&showtitle=false&type=js">
                    </script>
            </p>
        </div>
    </div>

    <div id="add_service" class="content">
        <form th:action="@{/services/submit}" method="POST" onsubmit="return validateForm()">
            <div style="display: inline; width: 50%; height: 50%; padding: 5px; margin: 3px;">
                <div class="group">
                    <label><input type="radio" name="serviceType" value="smallService" required> Mały
                        przegląd</label><br />
                    <label><input type="radio" name="serviceType" value="fullService" required> Pełny
                        przegląd</label><br />
                    <label>
                        <input type="radio" name="serviceType" value="repair" id="repairCheckbox"
                            onchange="toggleRepairDetails(this)" required> Naprawa
                    </label><br />
                    <label>Szczegóły naprawy:<br />
                        <textarea name="repairDetails" rows="3"></textarea>
                    </label><br />
                    <label>Cena:<br />
                        <input type="number" name="repairPrice" />
                    </label>
                </div>

                <div class="group">
                    <label>Marka:<br />
                        <input type="text" name="brand" required /></label><br />
                    <label>Rodzaj roweru:<br />
                        <input type="text" name="modelType" required /></label><br />
                    <label>Numer Seryjny:<br />
                        <input type="text" name="serialNumber" required /></label>
                </div>

                <div class="group">
                    <label>Imię<br />
                        <input type="text" name="first_name" required /></label><br />
                    <label>Nazwisko<br />
                        <input type="text" name="last_name" required /></label><br />
                    <label>Numer telefonu<br />
                        <input type="text" name="phoneNumber" required /></label><br />
                    <label>e-mail<br />
                        <input type="email" name="email" required /></label><br />
                </div>
            </div>
            <!-- <div class="form-group centered-button">
                <button type="submit" name="services">Dodaj Usługę</button>
            </div> -->
        </form>
    </div>
    <!--    <div id="new_service" class="content">
            <p>new service panel in maintance...</p>
        </div>
        <div id="done_service" class="content">
            <p>done panel in maintance...</p>
        </div>
        <div id="calender" class="content">
            <p>calender panel in maintance...</p>
        </div>
        <div id="group" class="content">
            <p>group panel in maintance...</p>
        </div> -->
    <!-- TODO: Stopka nie jest całkowicie na samym dole -->
    <footer id="footer" class="grid_16">
    </footer>
    <script src="../templates/main.js"></script>
</body>

</html>