<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="panel for mechanics">
    <link rel="stylesheet" href="../static/css/960_16_col.css">
    <link rel="stylesheet" href="../static/css/newMechanicStyle.css">
    <title>Mechanic panel</title>
</head>

<body>
    <div class="container_16 clearfix">
        <div id="header" class="grid_16">
            <p id="data" style="text-align:right; color: rgba(114, 114, 114, 0.883); font-family: 'Trebuchet MS',
                'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            </p>
            <h2>Welcome: <span th:text="${username}"></span></h2>
        </div>
        <aside id="side_bar_menu" class="grid_4">
            <button class="button" onclick="showContent('news')">News</button>
            <button class="button" onclick="showContent('order_table')">My services</button>
            <button class="button" href="">Add service</button>
            <button class="button" href="">New services</button>
            <button class="button" href="">Done services</button>
            <button class="button" href="">Calender</button>
            <button class="button" href="">Group</button>
        </aside>
        <div id="order_table" class="content">
            <p>Number of orders: <span th:text="${#lists.size(orderList)}"></span></p>
            <table>
                <thead>
                    <tr>
                        <th class="orderId">Order ID:</th>
                        <th class="service">Service:</th>
                        <th class="bikeM">Bike model:</th>
                        <th class="clientId">Client ID:</th>
                        <th class="btn"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order : ${orderList}">
                        <td th:text="${order.orderId}"></td>
                        <td th:text="${order.service}"></td>
                        <td th:text="${order.bikeModel}"></td>
                        <td th:text="${order.client}"></td>
                        <td>
                            <form method="get" th:action="@{/mechanic/edit/{id}(id=${order.orderId})}">
                                <button class="edit-btn" type="submit">edit</button>
                            </form>
                            <form method="post" th:action="@{/mechanic/done/{id}(id=${order.orderId})}">
                                <button class="done-btn" type="submit">done</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="news" class="content">
        <p style="
            margin-top: calc(50vh - 5%);
            margin-left: 40%;
            font-size: 25px;
            font-style: italic;
            ">News panel in maintance...</p>
    </div>
    <footer id="footer" class="grid_16">
    </footer>
    <script src="../templates/main.js"></script>
</body>

</html>