<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="panel for mechanics">
    <link rel="stylesheet" href="../static/css/960_12_col.css">
    <link rel="stylesheet" href="../static/css/newMechanicStyle.css">
    <title>Mechanic panel</title>
</head>

<body>
    <div class="container_12 clearfix">
            <div id="header" class="grid_12">
                <h2>Welcome: <span th:text="${username}"></span></h2>
            </div>
            <div id="menu" class="grid_2">
                <ul class="button-container">
                    <button class="button" href="">Add Service</button>
                    <button class="button" href="">Services</button>
                    <button class="button" href="">Calender</button>
                    <button class="button" href="">Group</button>
                </ul>
            </div>
            <div id="order_table" class="grid_10">
                <p>Number of orders: <span th:text="${list.size(orderList)}"></span></p>
            </div>
        </div>
    
</body>